*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.max-width{
  max-width: 1400px;
  padding: 0 42px;
  margin: auto;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 200px;
  transition: 0.5s ease;
  width: 100%;
}
.navbar{
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.5s ease;
}
.navbar.sticky{
  background-color: #176198;
  height: 75px;
}
.brand{
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
header .navigation{
  position: relative;
}
header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}
header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
header .navigation .navigation-items a:hover:before{
  width: 100%;
}
.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #176198;
  padding: 100px 200px;
}
.home:before{
  z-index: 777;
  content: '';
  position: absolute;
  background: rgb(0 0 0 / 43%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home .content{
  z-index: 888;
  color: #fff;
  width: 79%;
  margin-top: 50px;
  display: none;
}
.home .content.active{
  display: block;
}
.home .content h1{
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}
.home .content h1 span{
  font-size: 1em;
  font-weight: 400;
}
.home .content p , span{
  margin-bottom: 65px;
  font-size: 25px;
}
.home ul li{
  list-style: none;
}
.home ul li:before{
  content: '>';
  padding-right: 5px;
  font-size: 15px;
  font-weight: 800;
}
.home .content a{
  border: 1px solid #fff;
  background: #fff;
  padding: 14px 34px;
  color: #176198;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s ease;
}
.home .content a:hover{
  background: none;
  color: #fff;
  border: 1px solid #fff;
}
.home .media-icons{
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}
.home .media-icons a{
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}
.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}
.home .media-icons a:hover{
  transform: scale(1.2);
}
.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-navigation{
  z-index: 888;
  position: absolute;
  display: flex;
  right: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: #176198;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 1;
  font-size: 30px;
  border-radius: 25%;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}
.scroll-up-btn:hover{
  margin-bottom: 10px;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: 90%;
}
.slider-navigation .nav-btn.active{
  background: #176198;
}
.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}
.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 100%);
}
.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 0.75s ease;
  transition-property: clip-path;
}
@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  .home{
    padding: 100px 20px;
  }
  .slider-navigation {
      right: 15px;
  }

 
}
@media (max-width: 968px) {
    header .navigation{
        display: none;
      }
    .home .content li span{
      font-size: 1.3em;
    }
      header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
      }
    
      header .navigation .navigation-items a{
        color: #222;
        font-size: 1.2em;
        margin: 20px;
      }
    
      header .navigation .navigation-items a:before{
        background: #222;
        height: 5px;
      }
    
      header .navigation.active .navigation-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
      }
    
      .menu-btn{
        background: url(../img/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
      }
    
      .menu-btn.active{
        z-index: 999;
        background: url(../img/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
      }
}
@media (max-width:768px) {
    .home .content h1{
        font-size: 3em;
        line-height: 55px;
    }
    .home .content li span{
      font-size: 1.3em;
    }
}
@media (max-width: 560px){
  .home .content h1{
    font-size: 3em;
    line-height: 60px;
  }
  .home .content li span{
    font-size: 1.25em;
  }
}
@media (max-width: 490px){
    .home .content h1{
      font-size: 1.2em;
      line-height: 30px;
    }
    .home .content li span{
      font-size: 18px;
    }
    .home .content p {
        font-size: 18px;
    }
    .home .content a {
        background: #fff;
        padding: 10px 15px;
        color: #1680AC;
        font-size: 1.1em;
        font-weight: 500;
        text-decoration: none;
        border-radius: 4px;
    }
  }
/* content */
.about .about-content{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  justify-content: space-between;
}
.section{
  padding: 30px 0;
}
.about .about-content .left{
  width: 45%;
}
.last{
  margin-bottom: 8em;
}
hr{
  width: 20%;
  background: rgb(23, 22, 21);
  height: 2px;
  border-radius: 10%;
  margin: auto;
}
.about{
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.about .about-content .left img{
  display: inline-block;
  object-fit: cover;
  height: 400px;
  width: 400px;
  margin: auto;
  border-radius: 5px;
}
.about-content{
  margin: 60px 0; 
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.about .about-content .right .text span{
  color: #ebd42a;
}
.about .about-content .right p{
  text-align: justify;
  padding: 5px 5px;
  vertical-align: top;
  line-height: 27px;
  text-indent: 20px;
}
@media  (max-width: 1300px) {
  .home .max-width {
      margin-left: 0px;
  }
}
@media  (max-width: 1104px) {
  .about .about-content .left img{
      height: 350px;
      width: 350px;
  }
}
@media  (max-width: 991px) {
  .about{
  margin-top: 0;
    }
  }
@media  (max-width: 947px){
  .max-width{
      max-width: 930px;
  }
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right{
      flex: 100%;
  }
}
@media (max-width: 690px) {
  .max-width{
      padding: 0 23px;
  }
}
@media    (max-width: 510px) {
  .about .about-content img {
      margin: 5px;
      width: 100%;
      height: auto;
  }
  .about .about-content .left > img {
      width: 100%;
      margin: 5%;
  }
  .about .about-content .right .text{
      font-size: 19px;
  }
}
.timelinel-con {
  position: relative;
  overflow: auto;
  margin:10% 0 20px 0;
}
.timeline:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 5px;
  border-radius: 100px;
  background: #176198;
  left: 0;
}
.timeline h2 {
  background: #176198;
  color: #fff;
  max-width: 6em;
  margin: 0 auto 1em;
  padding: 0.5em;
  text-align: center;
  border-radius: 10px;
  position: relative;
  clear: both;
}
.timeline ul {
  list-style: none;
  margin-right: 10px; 
  padding: 0 0 0 1em;
  z-index: 1;
}
.timeline li {
  background: #176198;
  color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  text-indent: 10px;
  position: relative;
}
.timeline li:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 1em solid #176198;
  border-left: 1em solid transparent;
  position: absolute;
  left: -0.5em;
  top: 0;
}
.timeline h3 {
  margin-top: 0;
}
@media screen and (min-width: 690px) {
  .container {
      max-width: 100%;
      margin: 0 auto;
 }
  .timeline:before {
      left: 50%;
 }
  .timeline ul {
      padding-left: 0;
      max-width: 100%;
      margin: 0 auto;
 }
  .timeline li {
      width: 42%;
 }
  .timeline li:nth-child(even) {
      float: right;
      margin-top: 36px;
 }
  .timeline li:nth-child(odd) {
      float: left;
 }
  .timeline li:nth-child(odd):before {

      border-right: 1em solid transparent;
      right: -1em;
      left: auto;
 }
  .timeline li:nth-of-type(2n+1) {
      clear: both;
 }
}
